Package: aruba-serclient
Source: aruba-serclient
Version: 0.01-2
Architecture: all
Maintainer: Aruba S.p.A. <info@aruba.it>
Installed-Size: 672
Depends: lsb-base (>= 3.2-14), python:any (>= 2.7)
Section: admin
Priority: extra
Homepage: https://github.com/pmcloud/ExtraControl
Description: Automate common system administration tasks
